.container-main-layout {
   /* height: 100vh !important; */
   /* width: 100% !important; */
   background-color: #f2f4fa;
}

.sidebar-menu {
   height: 100vh;
   width: 80px;
   background-color: #ffffff !important;
}

.image-logo {
   width: 80px;
   height: 80px;
   margin-top: 20px;
   /* margin-bottom: 50px; */
}

.p-section-main {
   text-transform: uppercase;
   font-size: 12px;
   color: #828282;
   text-align: center;
}

.section-main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.logo-sidebar {
   width: 50px;
   height: 50px;
   text-align: center;
   margin-bottom: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo-sidebar-offcanvas {
   margin-bottom: 25px !important;
}

.logo-sidebar:hover {
   cursor: pointer;
   color: #ff0000;
   border: 1px solid #ffebeb;
   border-radius: 5px;
   background-color: #ffebeb;
}

/* style header menu */
.header-menu-layout {
   height: 80px;
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: start !important;
   background-color: #f2f4fa;
   color: #000000;
}

.title-page {
   font-size: 24px;
   font-weight: 500;
}

.main-content {
   height: max-content;
}

/* offcanvas */
.offcanvas {
   width: 248px !important;
}

.header-logo {
   font-size: 18px;
   font-weight: 600;
}

.offcanvas-body {
   display: flex;
   flex-direction: column;
}

.section-main-offcanvas {
   display: flex;
   flex-direction: column;
}

.logo-sidebar-offcanvas {
   width: 185px;
   height: 43px;
   margin-bottom: 5px;
   display: flex;
   justify-content: start;
   align-items: center;
   border-radius: 8px;
   transition: all 0.2s ease-in-out;
}

.logo-sidebar-offcanvas .img-logo {
   margin-left: 12px;
   margin-right: 12px;
}

.logo-sidebar-offcanvas:hover {
   cursor: pointer;
   color: #ff0000 !important;
   border-radius: 8px;
   background-color: #ffebeb;
}

.p-section-main-offcanvas {
   font-size: 12px;
   font-weight: 500;
   margin-left: 10px;
   color: #828282;
   text-transform: uppercase;
}

.logout-section-offcanvas {
   margin-top: 16px;
}

.button-hamburger {
   box-shadow: none !important;
   border: none !important;
   width: auto;
}


@media only screen and (max-width: 768px) {
   .sidebar-menu {
      display: none !important;
   }

   .main-content {
      padding-left: 0;
   }

   .hidden-text {
      display: none;
   }

   .header-menu {
      display: flex;
      flex-direction: row;
   }
}

@media only screen and (max-width: 992px) {

   .main-content {
      padding-left: 0;
   }

   .hidden-text {
      display: none;
   }

   .header-menu {
      display: flex;
      flex-direction: row;
   }
}
