/* data not found */
.h6-notfound {
   font-size: 20px;
   font-weight: 500;
}

.p-notfound {
   font-size: 16px;
   font-weight: 400;
   color: #828282;
}

/* wrap table content */
.wrap-table-content-whitout-card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 85vh; /* Default height */
   overflow: hidden; /* Prevent content from overflowing outside */
}

.overflow-table {
   flex-grow: 1; /* Allow the table to take the remaining space */
   overflow-y: auto; /* Enable vertical scrolling when content exceeds max-height */
   max-height: calc(85vh - 20px); /* Ensure that the table content stays within the defined height */
}

.table-responsive {
   max-height: 100%;
}

/* action buttons  */
.action-buttons .btn,
.action-buttons .btn-link .btn {
   width: 40px;
   height: 36px;
   padding: 0;
   font-size: 1rem;
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.action-buttons .btn-link {
   text-decoration: none;
}
