.image-pengasuh {
   width: 100%;
   height: 100%;
   border-radius: 10%;
}

p {
   text-align: justify;
   font-size: 18px;
}

.h2-profil-home {
   font-size: 30px;
   font-weight: bold;
   color: #ff9900;
}

.btn-profil {
   background-color: #ff9900 !important;
   color: #fff !important;
   border-radius: 10px;
   transition: background-color 0.3s;
}

.btn-profil:hover {
   background-color: #e68a00 !important;
}