.selayang-pandang {
   height: auto;
   background-color: #1c2331;
   padding: 20px 0;
   color: white;
   background-image: url("../../assets/Image/bg.png");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   border-top: 8px solid #feb941;
   border-bottom: 8px solid #feb941;
}

.h1-selayang-pandang {
   font-size: 30px !important;
   font-weight: bold;
   color: #ff9900;
}

.selayang-pandang p {
   text-align: justify;
   color: #fff;
   font-size: 18px;
   font-weight: 400;
}

.quote-selayang-pandang {
   color: #ff9900;
   font-size: 20px;
   font-family: 'amiri', serif;
}