.card-program-unggulan {
   border: none !important;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) !important;
   opacity: 1;
   transition: transform 0.3s, box-shadow 0.3s;
}

.card-program-unggulan:hover {
   background-color: #ff9900;
   opacity: 0.8;
   transform: scale(1.05);
   box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.card-program-unggulan:hover .title-program-unggulan {
   color: #fff !important;
}

.title-program-unggulan {
   font-size: 20px !important;
   font-weight: bold;
   color: #ff9900 !important;
}

.desc-program-unggulan {
   font-size: 18px !important;
   color: #000 !important;
}
