.login-container {
   height: 100vh;
}

.login-container-row {
   height: 100%;
}

.login-kiri {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.login-kiri img {
    height: 80%;
    width: 80%;
}

.login-kanan {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.row .selamat-datang {
   font-size: 36px;
   font-weight: bold;
}

button  {
    width: 100%;
}
