/* Style umum */
.h3-title-profil {
    font-size: 30px !important;
    font-weight: bold;
    color: #ff9900;
}

.lead {
   font-size: 1.2rem;
   line-height: 1.6;
   text-align: justify;
}

hr {
   border-top: 2px solid #ddd;
   /* width: 60%; */
   margin: 0 auto;
}

