.container-quote {
   height: 60vh;
   margin-top: 25px;
   margin-bottom: 25px;
   background-color: #1c2331 !important;
}

.row-quote {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.col-quote {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.h1-quote {
   color: #ff9900;
   font-size: 30px;
   font-family: "Amiri", serif;
}

.p-quote {
   color: #fff;
   font-size: 20px;
   margin-top: 18px;
   text-align: center;
   font-weight: 400;
}
